<div class="flex flex-row justify-between w-full h-full gap-5 p-6 font-semibold text-white">
  <div class="flex flex-col justify-center text-3xl">UNX</div>
  <div class="flex-row hidden h-full md:flex gap-9">
    <div class="flex flex-col justify-center">Products</div>
    <span class="flex flex-col justify-center h-full">About</span>
    <span class="flex flex-col justify-center h-full">Resources</span>
    <span class="flex flex-col justify-center h-full">Contact</span>
  </div>
  <div class="flex-col justify-center hidden h-full md:flex">
    <div>
      <button class="px-3 py-2 text-sm font-semibold rounded-lg bg-button-backdrop">Dashboard</button>
    </div>
  </div>
  <div class="md:hidden"></div>
</div>
