<div class="flex flex-row justify-center w-full h-full font-semibold text-center text-white">
  <div class="flex flex-col w-full h-full gap-5">
    <span class="text-5xl">The Best Way To</span>
    <span class="pb-2 text-5xl text-transparent bg-gradient-to-r from-textStop to-textStart bg-clip-text">Track your Daily Progress</span>
    <div class="flex flex-row justify-center">
      <span class="w-5/6 font-thin md:w-2/5 "> Allows you to track all your daily task progress using gamification methods and
        earn rewards for specific
        coupons</span>
    </div>
    <div>
      <button class="px-8 py-5 font-bold bg-indigo-800 rounded-lg">Try This App</button>
    </div>
  </div>
</div>
