<div class="w-full h-full bg-primary-backdrop font-inter">
  <div
    class="absolute w-48 h-48 rounded-full md:h-bigBlur md:w-bigBlur left-1/6 top-1/3 bg-accent-backdrop filter blur-bigBlur">
  </div>
  <div class="flex flex-col w-full h-full">
    <app-header class="h-20 mb-8 md:mb-28"></app-header>
    <app-title class="z-10 h-1/3"></app-title>
    <div class="z-10 flex flex-row justify-center w-full px-5 py-2 mt-auto align-bottom">
      <img class="pt-15" src="/assets/module.png">
    </div>
  </div>
</div>
